<div class="panel panel-primary" id="newPersonFormPanel">
  <div class="panel-heading">
    <div class="panel-titl">New Contact</div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
